.about__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 30px;
}

.about__text2 {
  margin: 0;
  padding-bottom: 78px;
}

.about__quote {
  display: inline-block;
  width: 100%;
  margin: 0;
}

.quote__text {
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  padding-bottom: 40px;
  margin: 0;
}

.quote__decor {
  color: #6C0287;
  font-size: 44px;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}


.quote__inner {
  padding-left: 50px;
}

.quote__bold {
  padding-left: 16px;
}

.quote__autor {
  float: right;
  width: 390px;
  margin: 0;
}

.quote__img {
  display: inline-block;
  object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-position: 50% 30%;
}

.quote__signature {
  float: right;
  width: 280px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  text-transform: none ;
}