.contacts {
  font-weight: 700;
  
}

.contacts__title {
  text-align: center;
  margin: 0;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.contacts__address {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  text-decoration: none;
}

.contacts__address-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.contacts__address-city {
  margin-bottom: 38px;
}

.contacts__address-number {
  margin-bottom: 11px;  
}

.contacts__address-mail {
  margin-bottom: 39px;
}

.contacts__logo {
  margin: 0;
}

.contacts__logo-inner{
  display: inline-block;
}

.contacts__inner-two {
  margin: 0 26px 0 26px;
}

.contacts__inner-three {
  margin-right: 26px;
}

.contacts__address-img {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.contacts-href {
  text-decoration: none;
  color: #fff;
}