.contacts {
  padding-top: 30px;
  font-weight: 700;
}

.contacts__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 47px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__address {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  text-decoration: none;
}

.contacts__address-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  max-width: 300px;
}

.contacts__address-city {
  margin-bottom: 40px;
}

.contacts__address-number {
  margin-bottom: 7px;  
}

.contacts__address-mail {
  margin-bottom: 39px;
}

.contacts__logo {
  display: flex;
  gap: 26px;
}

.contacts__address-img {
  display: inline-block;
  margin-right: 18px;
  vertical-align: middle;
}

.contacts__address-href {
  text-decoration: none;
  color: var(--main-color);
}

.contacts__address_moscow {
  display: block;
}

.contacts__logo-link {
  display: block;
  transition-duration: 400ms;
}

.contacts__logo-link:hover {
  color: var(--gray-hover);
}

.contacts__logo-link:focus {
  color: var(--gray-hover);
  outline: 1px solid var(--purple-color);
}

.contacts__logo-link:active {
  color: var(--purple-color);
}