.contacts {
  font-weight: 700;
}

.contacts__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 54px;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__address {
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
  margin: 0;
  text-decoration: none;
}

.contacts__address-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  max-width: 300px;
}

.contacts__address-city {
  margin-bottom: 38px;
}

.contacts__address-number {
  margin-bottom: 11px;  
}

.contacts__address-mail {
  margin-bottom: 39px;
}

.contacts__logo-inner{
  display: inline-block;
}

.contacts__logo-inner:not(:last-child) {
  margin-right: 21px;
}

.contacts__address-img {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.contacts__address-href {
  text-decoration: none;
  color: #fff;
}

.contacts__address_moscow {
  display: block;
}

.contacts__logo-link {
  display: block;
}

.contacts__logo-link:hover {
  color: #EADEED;
}

.contacts__logo-link:focus {
  color: #EADEED;
  outline: 1px solid #CD06FF;
}

.contacts__logo-link:active {
  color: #CD06FF;
}