.faq__questions li{
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__questions li:nth-child(2n+2) {
  color: #fff;
  background: #440F51;
}

.faq img {
  width: 50px;
}