.header {
  padding-top: 30px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-inline-start: 0;
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  gap: 40px;
}

.menu__button {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 12px 32px;
  border: 3px solid var(--purple-color);
  border-radius: 10px;
  transition-duration: 400ms;
}

.menu__button:hover,
.menu__button:focus {
  border: 3px solid var(--purple-hover);
  border-radius: 10px;
  background-color: var(--purple-hover);
}

.menu__button:active {
  border: 3px solid var(--purple-active);
  background-color: var(--purple-active);
}