.rooms {
  text-transform: uppercase;
  font-weight: 700;
}

.rooms__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 60px;
  margin: 0;
}

.rooms__item {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 580px;
  height: 349px;
}

.rooms__item:nth-child(2n) {
  margin-right: 0;
}

.rooms__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.rooms__text {
  position: relative;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
  top: 135px;
  right: 103px;
  bottom: 134px;
  left: 103px;
}

.rooms__item_vibes {
  background-image: url(../img/Rooms/vibes-room.jpg);
}

.rooms__item_wars {
  background-image: url(../img/Rooms/wars-room.jpg);
}

.rooms__item_west {
  background-image: url(../img/Rooms/west-room.jpg);
}

.rooms__item_neon {
  background-image: url(../img/Rooms/neon-room.jpg);
}
