.rooms {
  text-transform: uppercase;
  font-weight: 700;
}

.rooms__title {
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  padding-bottom: 60px;
  margin: 0;
}

.rooms__item {
  position: relative;
  margin-bottom: 60px;
}

.rooms__text {
  position: absolute;
  font-size: 70px;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  top: 275px;
  right: 485px;
  left: 485px;
}

.rooms__item-vibes {
  background-image: url(../img/Rooms/vibes-room.jpg);
  width: 1180px;
  height: 710px;
}

.rooms__item-wars {
  background-image: url(../img/Rooms/wars-room.jpg);
  width: 1180px;
  height: 710px;
}

.rooms__item-west {
  background-image: url(../img/Rooms/west-room.jpg);
  width: 1180px;
  height: 710px;
}

.rooms__item-neon {
  background-image: url(../img/Rooms/neon-room.jpg);
  width: 1180px;
  height: 710px;
}
