.banner {
  height: 823px;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  background: url(../img/VR-man.png) no-repeat;
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 0;
}

.title__h1 {
  margin: 0;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
  text-transform: uppercase;
}

.title__text {
  padding-left: 100px;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 45px;
}

.novelty {
  display: flex;
  align-items: flex-end;
  margin-bottom: 150px;
}

.novelty__item {
  max-width: 193px;
  text-align: center;   
}

.novelty__item1 {
  margin-right: 29px;
}

.novelty__span {
  display: inline-block;
  margin-bottom: 11px;
  font-weight: 900;
  color: var(--purple-color);
}

.novelty__span1 {
  font-size: 100px;
}

.novelty__span2 {
  text-transform: lowercase;
  font-size: 75px;
}

.novelty__text {
  font-size: 30px;
  font-weight: 400;
}

.banner__order {
  display: inline-block;
  margin-right: 165px;
  color: var(--main-color);
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 69px;
  border-radius: 10px;
  background-color: var(--purple-hover);
  transition-duration: 400ms;
}

.banner__order:hover,
.banner__order:focus {
  background-color: #840AA3;
}

.banner__order:active {
  background-color: var(--purple-active);
}

.tittle__down-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
}

.down-arrow-svg {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  transition-duration: 400ms;
}

.tittle__down-arrow:hover .down-arrow-svg{
  color: var(--purple-hover);
  background-color: var(--main-color);
}

.tittle__down-arrow:focus{
  outline: 1px solid var(--purple-color);
}

.tittle__down-arrow:active .down-arrow-svg{
  color: var(--main-color);
  background-color: var(--purple-color);
  border: 1px solid var(--purple-color);
}




@media (max-width: 1240px) {
  .title {
    padding-block: 30px 48px;
  }

  .banner {
    height: 583px;
  }

  .banner::before {
    background-size: 100%;
    width: 453px;
    height: 520px;
  }

  .title__h1 {
    margin-bottom: 20px;
    font-size: 120px;
    letter-spacing: -10px;
  }

  .title__text {
    font-size: 22px;
    line-height: 30px;
  }

  .novelty {
    margin-bottom: 80px;
  }

  .novelty__item {
    max-width: 168px;
  }

  .novelty__span1 {
    font-size: 80px;
  }

  .novelty__span2 {
    font-size: 60px;
  }

  .novelty__text {
    font-size: 26px;
  }

  .banner__order {
    margin-right: 83px;
    font-size: 22px;
    padding: 17px 48px;
  }

  .tittle__down-arrow {
    width: 67px;
    height: 67px;
    bottom: 46px;
}
}