.title {
  position: relative;
  height: 820px;
  margin: 150px 0 100px;
}

.title__h1 {
  margin: 0;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -15px;
  text-transform: uppercase;
}

.title__text {
  position: absolute;
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  left: 100px;
}

.title::before{
  content: "";
  position: absolute;
  background-image: url(../img/VR-man.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 100%;
}

