.we-have {
  padding-bottom: 119px;
}

.we-have__title {
  padding-inline: 150px;
  margin-bottom: 43px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.we-have__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.we-have__block {
  position: relative;
}

.we-have__text {
  position: absolute;
  width: 300px;
  height: 56px;
  top: 166px;
  left: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.we-have__item {
  transition-duration: 400ms;
}

.we-have__item_down {
  transform: translateY(69px);
}

.we-have__item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.we-have__item_down:hover {
  transform: translateY(69px) scale(1.1);
}


@media (max-width: 1240px) {
  .we-have {
    padding-bottom: 87px;
  }

  .we-have__title {
    padding-inline: 150px;
    margin-bottom: 36px;
    font-size: 30px;
    line-height: 40px;
  }

  .we-have__list {
    gap: 30px 21px;
  }

  .we-have__item {
    width: 287px;
    height: 172px;
  }

  .we-have__text {
    width: 247px;
    top: 114px;
    left: 20px;
  }

  .we-have__text_film {
    top: 83px;
  }

  .we-have__item_down {
    transform: translateY(52px);
  }

  .we-have__item_down:hover {
    transform: translateY(52px) scale(1.1);
  }
}