.we-have {
  padding-bottom: 120px;
}

.we-have__title {
  padding-inline: 150px;
  margin-bottom: 43px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

.we-have__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.we-have__block {
  position: relative;
}

.we-have__text {
  position: absolute;
  width: 300px;
  height: 56px;
  top: 166px;
  left: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.we-have__item {
  transition-duration: 400ms;
}

.we-have__item_down {
  transform: translateY(70px);
}

.we-have__item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.we-have__item_down:hover {
  transform: translateY(70px) scale(1.1);
}