.room {
  margin-bottom: 60px;
  justify-content: space-between;
}

.form__title {
  margin-bottom: 42px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.room__text {
  flex-basis: 250px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
	cursor: pointer;
	line-height: 40px;
  border: 3px solid transparent;
  color: #000;
  text-align: center;
  padding: 3px 15px 4px 15px;
  background-color: var(--main-color);
	border-radius: 8px;
  transition-duration: 400ms;
}

.room__text:hover {
  background-color: var(--gray-hover);
  border: 3px solid var(--purple-active);
  border-radius: 8px;
}

.room__radio-button:checked + .room__text {
  background-color: var(--main-color);
  border: 3px solid var(--purple-active);
  border-radius: 8px;
}

.room__radio-button:active + .room__text {
  color: var(--main-color);
  background-color: var(--purple-hover);
  border: 3px solid var(--main-color);
  border-radius: 8px;
}

.hidden-button {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  transform: scale(0);
}